html {
    height: 100%;
}
body {
    min-height: 99%;
    display: flex;
    margin-top: -7%;
    justify-content: center;
    align-items: center;
}
.container {
    text-align: center;
    font-family: "나눔고딕 ExtraBold",serif;
    font-size: 25px;
    vertical-align: middle;
}
.tag {
    line-height: 200%;
}
label {
    display:inline-block;
    text-align:right;
    width: 120px;
    font-weight:bold;
}
input[type=text] {
    border: 2px solid black;
    display: inline-block;
    font-size: 25px;
    border-radius: 5px;
}
button {
    margin-top: 30px;
    font-family: "나눔고딕 ExtraBold", serif;
    font-size: 30px;
}