html {
    height: 100%;
}
body {
    min-height: 99%;
    display: flex;
    margin-top: -7%;
    justify-content: center;
    align-items: center;
}
.container {
    text-align: center;
    font-family: "나눔고딕 ExtraBold",serif;
    font-size: 25px;
}
.button {
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
}
a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 40px;
    padding: 5px;
}